<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MKOT React</title>
    <link rel="stylesheet" href="../Frontend/src/Assets/CSS/reset.css" />
    <link rel="stylesheet" href="../Frontend/src/Assets/CSS/styles.css" />
  </head>

  <body>
    <div class="table">
      <section class="player-board">
        <div class="cards-wrapper player-cards">
          <div class="card">
            <img src="../Frontend/src/Assets/Images/cards/Carta1.png" alt="" />
          </div>
          <div class="card">
            <img src="../Frontend/src/Assets/Images/cards/Carta30.png" alt="" />
          </div>
          <div class="card">
            <img src="../Frontend/src/Assets/Images/cards/Carta40.png" alt="" />
          </div>
          <div class="card">
            <img src="../Frontend/src/Assets/Images/cards/Carta60.png" alt="" />
          </div>
        </div>
        <div class="active-monster">
          <section class="monster">
            <p>Active monster</p>
            <div></div>
            <section class="attributes">
              <div class="att heart">
                <div></div>
                <p>10</p>
              </div>
              <div class="att star">
                <div></div>
                <p>0</p>
              </div>
              <div class="att lightning">
                <div></div>
                <p>0</p>
              </div>
            </section>
          </section>
        </div>
      </section>
      <section class="actions">
        <div class="buttons">
          <button class="btn">Lanzar</button>
          <button class="btn">Terminar Turno</button>
        </div>
        <div class="dices-wrapper">
          <ul class="dices">
            <li>
              <img src="../Frontend/src/Assets/Images/dices/dice1.jpg" alt="" />
            </li>
            <li class="selected">
              <img src="../Frontend/src/Assets/Images/dices/dice2.jpg" alt="" />
            </li>
            <li>
              <img src="../Frontend/src/Assets/Images/dices/dice3.jpg" alt="" />
            </li>
            <li>
              <img
                src="../Frontend/src/Assets/Images/dices/diceAttack.jpg"
                alt=""
              />
            </li>
            <li>
              <img
                src="../Frontend/src/Assets/Images/dices/diceEnergy.jpg"
                alt=""
              />
            </li>
            <li>
              <img
                src="../Frontend/src/Assets/Images/dices/diceHealth.jpg"
                alt=""
              />
            </li>
          </ul>
        </div>
      </section>
      <button class="btn exit">Salir</button>
      <section class="monsters">
        <section class="monster">
          <p>Monstruo 1</p>
          <div></div>
          <section class="attributes">
            <div class="att heart">
              <div></div>
              <p>10</p>
            </div>
            <div class="att star">
              <div></div>
              <p>0</p>
            </div>
            <div class="att lightning">
              <div></div>
              <p>0</p>
            </div>
          </section>
        </section>
        <section class="monster">
          <p>Monstruo 2</p>
          <div></div>
          <section class="attributes">
            <div class="att heart">
              <div></div>
              <p>10</p>
            </div>
            <div class="att star">
              <div></div>
              <p>0</p>
            </div>
            <div class="att lightning">
              <div></div>
              <p>0</p>
            </div>
          </section>
        </section>
        <section class="monster">
          <p>Monstruo 3</p>
          <div></div>
          <section class="attributes">
            <div class="att heart">
              <div></div>
              <p>10</p>
            </div>
            <div class="att star">
              <div></div>
              <p>0</p>
            </div>
            <div class="att lightning">
              <div></div>
              <p>0</p>
            </div>
          </section>
        </section>
        <section class="monster">
          <p>Monstruo 4</p>
          <div></div>
          <section class="attributes">
            <div class="att heart">
              <div></div>
              <p>10</p>
            </div>
            <div class="att star">
              <div></div>
              <p>0</p>
            </div>
            <div class="att lightning">
              <div></div>
              <p>0</p>
            </div>
          </section>
        </section>
        <section class="monster">
          <p>Monstruo 5</p>
          <div></div>
          <section class="attributes">
            <div class="att heart">
              <div></div>
              <p>10</p>
            </div>
            <div class="att star">
              <div></div>
              <p>0</p>
            </div>
            <div class="att lightning">
              <div></div>
              <p>0</p>
            </div>
          </section>
        </section>
        <section class="monster">
          <p>Monstruo 6</p>
          <div></div>
          <section class="attributes">
            <div class="att heart">
              <div></div>
              <p>10</p>
            </div>
            <div class="att star">
              <div></div>
              <p>0</p>
            </div>
            <div class="att lightning">
              <div></div>
              <p>0</p>
            </div>
          </section>
        </section>
      </section>
      <section class="board">
        <div class="zone tokyo">
          <img src="" alt="" />
        </div>
        <div class="zone tokyo-bay">
          <img src="" alt="" />
        </div>
      </section>
      <section class="section-cards">
        <div class="cards-wrapper game">
          <div class="card">
            <img src="../Frontend/src/Assets/Images/cards/Carta2.png" alt="" />
          </div>
          <div class="card">
            <img src="../Frontend/src/Assets/Images/cards/Carta10.png" alt="" />
          </div>
          <div class="card">
            <img src="../Frontend/src/Assets/Images/cards/Carta13.png" alt="" />
          </div>
        </div>
        <div class="cards-wrapper discard">
          <div class="card">
            <img src="../Frontend/src/Assets/Images/cards/trasera.png" alt="" />
          </div>
          <div class="card">
            <img src="../Frontend/src/Assets/Images/cards/Carta3.png" alt="" />
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
